Source: opm-upscaling
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: build-essential, debhelper (>= 9), libboost-filesystem-dev,
               libboost-system-dev, libboost-date-time-dev, libboost-test-dev,
               libsuperlu3-dev, gfortran, libsuitesparse-dev, libopm-core-dev,
               libdune-common-dev, libdune-istl-dev, cmake, libtinyxml-dev, bc,
               libert.ecl-dev, git, zlib1g-dev, libtool, libopm-material-dev,
               libdune-cornerpoint-dev, libdune-grid-dev, libopm-porsol-dev,
               doxygen, texlive-latex-extra, texlive-latex-recommended, ghostscript
Standards-Version: 3.9.2
Section: libs
Homepage: http://opm-project.org
Vcs-Git: git://github.com/OPM/opm-upscaling.git
Vcs-Browser: https://github.com/OPM/opm-upscaling

Package: libopm-upscaling1-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libopm-upscaling1 (= ${binary:Version})
Provides: libopm-upscaling-dev
Suggests: libopm-upscaling-doc
Description: OPM upscaling library -- development files
 This module implements single-phase and steady-state upscaling methods.

Package: libopm-upscaling1-bin
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopm-upscaling-bin
Suggests: libopm-upscaling-doc
Description: OPM upscaling library -- applications
 This module implements single-phase and steady-state upscaling methods.

Package: libopm-upscaling1
Section: libs
Pre-Depends: ${misc:Pre-Depends}, multiarch-support
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libopm-upscaling
Description: OPM upscaling library
 This module implements single-phase and steady-state upscaling methods.

Package: libopm-upscaling1-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Provides: libopm-upscaling-doc
Description: OPM upscaling library -- documentation
 This module implements single-phase and steady-state upscaling methods.

Package: libopm-upscaling1-dbg
Section: debug
Architecture: any
Multi-Arch: foreign
Provides: libopm-upscaling-dbg
Depends: libopm-upscaling1 (= ${binary:Version}), ${misc:Depends}
Description: OPM upscaling library -- debug symbols
 This module implements single-phase and steady-state upscaling methods.
